{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Checkout</h2>
    
    <!-- Cart Summary -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Your Order</h5>
            <table class="table">
                <tr>
                    <td colspan="2">Subtotal</td>
                    <td>${{ cart.subtotal }}</td>
                </tr>
                <tr>
                    <td colspan="2">Tax</td>
                    <td>${{ cart.tax }}</td>
                </tr>
                <tr class="font-weight-bold">
                    <td colspan="2">Total</td>
                    <td>${{ cart.total }}</td>
                </tr>
                <tr class="font-weight-bold">
                    <td colspan="2">Change Due</td>
                    <td>${{ payment.change_due }}</td>
                </tr>
            </table>
        </div>
    </div>

        <!-- Checkout Form for Cash Payment -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cash Payment Information</h5>
                <form method="post" action="{% url 'save-cash-payment' %}">
                    {% csrf_token %}
                    {{ cash_payment_form.as_p }}
                    <button type="submit" class="btn btn-primary">Save Cash Amount</button>
                </form>
            </div>
        </div>
        <br>
    
        <!-- Checkout Form for Card Payment -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card Payment Information</h5>
                <form method="post" action="{% url 'save-credit-payment' %}">
                    {% csrf_token %}
                    {{ card_payment_form.as_p }}
                    <button type="submit" class="btn btn-primary">Save Card Amount</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
    