.venv
store/migrations/__pycache__/0001_initial.cpython-310.pyc
db.sqlite3
mysite/__pycache__/settings.cpython-310.pyc
mysite/__pycache__/urls.cpython-310.pyc
store/__pycache__/admin.cpython-310.pyc
store/__pycache__/models.cpython-310.pyc
store/__pycache__/urls.cpython-310.pyc
store/__pycache__/views.cpython-310.pyc
store/migrations/__pycache__/0001_initial.cpython-310.pyc
mysite/__pycache__/settings.cpython-310.pyc
